
header{


  width: 100%;
  top: 0px ;
  left:0px;
  height: 5.1%;
  z-index: 1;                                
  margin: auto;
  position: fixed ;
  background-color: rgba(180, 200, 150, 1);

}

body{

  background-size: cover;
  background-image: url(/képek/R.jfif);
  
}
body{
  background-image: url(/WeblapAI/WeblapAI/képek/R.jfif);
  background-size: cover;
}
main{

  height:800px;
  margin-top: 50px;
  position: relative;

}

#t0{

  border-radius: 30px;
  width: 30%;
  margin: 10px;
  margin-left: 35%;
  text-align: center;
  color: aliceblue;
  background-color: darkolivegreen;

}

#t1{

  border-radius: 30px;
  width: 60%;
  margin: 10px;
  float: left;
  color: rgb(0, 0, 0);
  background-color:  rgba(180, 200, 150, 1);

}

#t2{

  border-radius: 30px;
  width: 60%;
  margin: 10px;
  float: right;
  color: rgb(0, 0, 0);
  /*background-color: rgba(195, 226, 183, 0.9);*/
  background-color: rgba(180, 200, 150, 1);

}

h2{

  text-align: center;

}

.dropbtn {

  padding: 10px;
  font-size: 16px;
  width: 90px;
  border: none;
  background-color:darkolivegreen;
  color: rgb(255, 255, 255);

}
  

.dropdown {

  position: relative;
  display: inline-block;
      
}
  
.dropdown-content {

  min-width: 70px;
  z-index: 5;
  display: none;
  position: absolute;
  text-align: center;
  background-color:rgba(130, 150, 110, 0.2);

}
  

.dropdown-content button {

    padding: 10px 14.5px;
    text-decoration: none;
    display: block;
    color: black;

}
  

.dropdown-content button:hover {
  background-color: darkolivegreen;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:darkolivegreen;
}

button{

  width: 90px;
  background-color: rgba(180, 200, 150, 1);

}

